.btn{
    display: flex;
    justify-content: center;
    border-color: black;

}


.card{
    width: 35%;
    height: 85vh!important;
    border-width: 1vh;
   border-color: black;
   padding: 1.5vh!important;
   /* box-shadow: 0px 12px 18px rgb(0, 0, 0); */
   
}
.card-img-top{
   height: 550px;
   padding:1vh ;
}
 .fi-1{
    display: flex;

    justify-content: space-evenly;

    padding-top: 4vh!important;

 }
 .card-title{
    display: flex;
    justify-content: start;
 }
 
 .card .btn{
   width: 100%;
   height: 5vh!important;
   display: flex;
   justify-content: center;
   align-items: center;
   border-color: black;
   background-color: black;
   

 }
 .fi-1 .card .card-body .btn a{
   display: flex;
   justify-content: center;
   align-items:center ;
  
 } 
    
.card a{
    display: flex;
    justify-content: center;
}
.h-1{
   color: white;
}
h4{
   padding-top: 1vh!important;
}

